# Python caches
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv
venv/
ENV/

lab1.1
lab2.1
lab3.1

# Jupyter artifacts
.ipynb_checkpoints/
executed-notebooks/

# OS-specific noise
.DS_Store
Thumbs.db
