nbconvert
notebook
numpy
pandas
matplotlib
seaborn
scikit-learn
sympy
nltk
torch
transformers
datasets
huggingface-hub
umap-learn
sentence-transformers
hdbscan
bertopic
keybert
peft
accelerate
bitsandbytes
langchain
langchain-community
langchain-core
faiss-cpu
transformers 
torch 
sentencepiece